
programming_assignments/week_3/machine-learning-ex2/ex2/token.mat

programming_assignments/week_3/machine-learning-ex2/ex2/octave-workspace

*.png

rough_notes/.ipynb_checkpoints/week_3-checkpoint.ipynb

rough_notes/week_1.ipynb

rough_notes/week_2.ipynb

rough_notes/week_3.ipynb
